### ===============================
### = picochess.ini.example v0.67 =
### ===============================
### Example and description how to configure PicoChess
### To use this file, simply copy this file to picochess.ini and edit the appropriate settings

### Lines that start with 3x# are general comments
### Lines that start with 2x# explain the option of the next line that starts with one # 
### Lines that start with 1x# are option lines, delete the # to use the option 

### =======================
### = DGT related options =
### =======================
## enable-revelation-leds turn ON or OFF the LED's on the Revelation II board. If so, please uncomment the next line
# enable-revelation-leds
## beep-level changes the occurrence of beeps. Minimum value is 0 (no beeps), maximum is 15 (all beeps).
## inside the clock menu you can choose between "always", "never" and "some". The value you give inside here, is
## the value of "some". Each part of beeps has a special number and you have to add them to get the beep-level
## CONFIG = 1 Takeback, GameEnd, NewGame and ComputerMove
## BUTTON = 2 All Events coming from button press)
## MAP = 4    All Events coming from Queen placing at start pos (line3-6)
## OKAY = 8   All Events from "ok" (confirm) messages
## For example to beep on "ok messages" and "button press" would result in 8+2=10 as beep-level
# beep-level = 3
## Should a confirmation message (after moves) be displayed? If not, please active the next line
# disable-ok-message
## Specify the serial port your dgt-board is connected to. If y not give a parameter picochess tries to find the board
# dgt-port = /dev/ttyACM0
## Instead of connecting to a dgt board, you can also start picochess with a command line.
## If so, please uncomment the next line
# console


### ========================
### = Chess engine options =
### ========================
### Options for the UCI-Chess engine
## What engine should play. Path to a (startup) UCI engine
# engine = engines/armv7l/a-stockf
## Where is the server with the engine
# remote-server = engine.remote-domain.com
## What user to use for connect to the remote-engine server
# remote-user = user@remote-domain.com
## What password for the remote-engine-server
# remote-pass = your_secret_password
## The secret server-key for the remote-engine-server
# remote-key = your_secret_key
## uci-option stores options that will be passed to the engine
## This are possible examples - it depends on your search-engine
# uci-option = Hash = 128
# uci-option = Threads = 4
# uci-option = Beginner Mode=true

### ==========================
### = Opening book selection =
### ==========================
### Sets the opening book used at startup - may be changed from the clock buttons
### Must be the full name of an opening book in the 'books' folder
### Defaults to book 'h', normally 'h-varied', if not set or not available
# book = h-varied.bin

### ================
### = Mail Service =
### ================
### Options for sending the finished game via email service
### PicoChess currently implements two different ways to send a finished game via email.
### standard SMTP email or Mailgun Webservice
### Mail general
### if email is not set, PicoChess won't attempt to send the game at all
### You also have to enable internet access for picochess. This option can be enabled with 
### enable-internet (section PicoChess related options" below). 
## email tells PicoChess to which email address the game should be send to, it should be your email address :-)
# email = your.mailbox@your-domain.com 
### =======================================
### = Section for email delivery via SMTP =
### =======================================
### if smtp_server is not set, PicoChess won't attempt to send the game via SMTP
## smtp-server must contain the address of your smtp server (e.g. smtp.gmail.com)
# smtp-server = smtp.your-mailserver.com
## smtp-user is necessary if your smtp server requires authentication, sets your username
# smtp-user = your_username
## smtp-pass is necessary if your smtp server requires authentication, sets your password
# smtp-pass = your_secret_password
## Should PicoChess SSL-encrypt the communication with your smtp server (Port 465)?
## Otherwise PicoChess will use the default and unencrypted SMTP Port 21.
## Some SMTP Server require an SSL encryption (e.g. GMAIL). If so, uncomment the next line.
# smtp-encryption
## In case the SMTP Server thinks you are spamming, you must enter a valid from email here
# smtp-from = no-reply@picochess.org
### ==========================================
### = Section for email delivery via Mailgun =
### ==========================================
### if mailgun-key is not set, PicoChess won't attempt to send the game via Mailgun
## mailgun-key stores your Mailgun access key for Mailgun Webservice
# mailgun-key = your Mailgun API access key

### =============================
### = PicoChess related options =
### =============================
## log-file points to a file that is used to write the log information.
## This file is created in the log folder. Alltogether there are 10 log files kept (rotating logs)
# log-file = picochess.log
## What log level should be used 
## Loglevel options are [debug, info, warning, error, critical]
# log-level = debug
### PicoChess can use a speech engine for announcement
## user-voice used for user moves announcement
# user-voice = en:Elsie
## computer-voice for computer moves announcement
# computer-voice = en:Marvin
## PicoChess writes pgn files at end of game.
# pgn-file = games.pgn
# pgn-user = player
## Picochess connects to the internet like ip adr, update of newest software etc.
## This is by default not actived. If you want this feature, please uncomment the next line
# enable-internet
## After an update should the machine reboot automatically? If so, please uncomment the next line
# auto-reboot
## The port of the webserver
# web-server = 8080
## Do tablebase probing using gaviota? The database files must be in 'tablebases/gaviota/'
## This isn't used inside the chess engine. Just show the tb-value at dgt clock (for your info)
## If so, uncomment the next line
# enable-gaviota
## PicoChess messages can be displayed in English, German, Dutch, French or Spanish.
## You can set the language with the "language" option. Default is English.
## en = English; de = German; nl = Dutch; fr = French; es = Spanish
# language = en
