ConfigArgParse==0.10.0
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Naked==0.1.31
PyYAML==3.11
Werkzeug==0.11.11
crypto==1.4.1
cffi==1.8.3
cryptography==1.5.2
ecdsa==0.13
itsdangerous==0.24
paramiko==2.0.2
pycrypto==2.6.1
pyserial==3.0.1
python-chess==0.15.4
requests==2.9.1
shellescape==3.4.1
spur==0.3.19
tornado==4.4.2
configobj==5.0.6
sounddevice==0.3.5
soundfile==0.8.1
