ConfigArgParse==0.10.0
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Naked==0.1.31
PyYAML==3.11
Werkzeug==0.11.4
crypto==1.4.1
ecdsa==0.13
itsdangerous==0.24
paramiko==1.16.0
pycrypto==2.6.1
pyserial==3.0.1
python-chess==0.15.4
requests==2.9.1
shellescape==3.4.1
spur==0.3.19
tornado==4.3
configobj==5.0.6
