<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Picochess Webserver</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/ladda-themeless.min.css"/>

    <link rel="stylesheet" href="/static/css/bootstrap-3.3.7.min.css"/>
    <link rel="stylesheet" href="/static/css/material-design/ripples.min.css"/>
    <link rel="stylesheet" href="/static/css/material-design/bootstrap-material-design.min.css"/>

    <link rel="stylesheet" href="/static/css/normalize-7.0.0.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/datatables.min.css"/>
    <link rel="stylesheet" href="/static/css/chessground/chessground.css"/>
    <link rel="stylesheet" href="/static/css/chessground/theme.css"/>
    <link rel="stylesheet" href="/static/css/custom.css"/>

    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap-3.3.7.min.js"></script>
    <script src="/static/js/material-design/ripples.min.js"></script>
    <script src="/static/js/material-design/material.min.js"></script>

    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/ladda.min.js"></script>
    <script src="/static/js/datatables.min.js"></script>
    <script src="/static/js/intl.js"></script>
    <script src="/static/js/chess960.js"></script>
    <script src="/static/js/chessground.min.js"></script>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="pull-left">
                    <button type="button" id="flipOrientationBtn" class="btn btn-raised btn-default btn-xs text-break" data-placement="auto" data-toggle="tooltip" title="flip board">
                        <i class='fa fa-refresh'></i><span class="hidden-xs"> Flip</span>
                    </button>
                    <button type="button" id="DgtSyncBtn" class="btn btn-raised btn-warning btn-xs text-break" data-placement="auto" data-toggle="tooltip" title="sync webserver display">
                        <i class='fa fa-delicious'></i><span class="hidden-xs"> Sync</span>
                    </button>
                    <button type="button" id="downloadBtn" class="btn btn-raised btn-info btn-xs text-break" data-placement="auto" data-toggle="tooltip" title="get pgn file">
                        <i class='fa fa-download'></i><span class="hidden-xs"> Get PGN</span>
                    </button>
                    <div class="btn-group">
                        <button type="button" id="remoteBtn" class="btn btn-raised btn-success btn-xs text-break" data-placement="auto" data-toggle="dropdown" title="remote">
                            <i class='fa fa-cloud-download'></i><span class="hidden-xs"> Remote</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <div style="padding: 1vw;">
                                    <div class="col-xs-6">
                                        <label for="RemoteRoom">Room:</label>
                                        <input class="form-control" id="RemoteRoom" type="text" value="" maxlength="6" placeholder="max6chars">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="RemoteNick">Nick:</label>
                                        <input class="form-control" id="RemoteNick" type="text" value="" maxlength="6" placeholder="max6chars">
                                    </div>
                                    <div class="col-xs-12">
                                        <button type="button" id="enterRoomBtn" class="btn btn-raised btn-success btn-sm text-break" title="enter room">
                                            <i class='fa fa-arrow-right'></i><span class="hidden-xs"> Enter Room</span>
                                        </button>
                                        <button type="button" id="leaveRoomBtn" class="btn btn-raised btn-warning btn-sm text-break" title="leave room">
                                            <i class='fa fa-arrow-left'></i><span class="hidden-xs"> Leave Room</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <!--
                            <li role="separator" class="divider"></li>
                            <li>
                                <div class="col-xs-12" style="padding: 1vw;">
                                    <button type="button" id="broadcastBtn" class="btn btn-raised btn-success btn-xs text-break" title="broadcast position">
                                        <i class='fa fa-cloud-download'></i><span class="hidden-xs"> Broadcast</span>
                                    </button>
                                </div>
                            </li>
                            -->
                            <li role="separator" class="divider"></li>
                            <li>
                                <div style="padding: 1vw;">
                                    <div class="col-xs-12">
                                        <label for="remoteText">Chat:</label>
                                        <input class="form-controlX" id="remoteText" type="text" value="" placeholder="enter your text">
                                    </div>
                                    <div class="col-xs-12">
                                        <button type="button" id="SendTextRemoteBtn" class="btn btn-raised btn-success btn-sm text-break" title="send text">
                                            <i class='fa fa-arrow-right'></i><span class="hidden-xs"> Send Text</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" id="consoleBtn" class="btn btn-raised btn-primary btn-xs" data-placement="auto" data-toggle="tooltip" title="enter/exit console mode">
                        <i class='fa fa-bullhorn'></i><span class="hidden-xs"> Console</span>
                    </button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="pull-left">
                    <button type="button" id="ClockBtn0" class="btn btn-raised btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="press left most button">
                        <i class='fa fa-backward'></i>
                    </button>
                    <button type="button" id="ClockBtn1" class="btn btn-raised btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="press left button">
                        <i class='fa fa-minus'></i>
                    </button>
                    <button type="button" id="ClockBtn2" class="btn btn-raised btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="press middle button">
                        <i class='fa fa-pause'></i>
                    </button>
                    <button type="button" id="ClockBtn3" class="btn btn-raised btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="press right button">
                        <i class='fa fa-plus'></i>
                    </button>
                    <button type="button" id="ClockBtn4" class="btn btn-raised btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="press right most button">
                        <i class='fa fa-forward'></i>
                    </button>
                    <button type="button" id="ClockLeverBtn" class="btn btn-raised btn-warning btn-xs" data-placement="auto" data-toggle="tooltip" title="press Lever">
                        <i id="leverUp" class='fa fa-long-arrow-up'></i><i id="leverDown" class='fa fa-long-arrow-down' style="display: none;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="board_panel" class="panel panel-primary">
                <div class="panel-body" style="position:relative;">
                    <section id="boardsection" class="blue merida svg-container">
                        <div id="board" class="svg-content" style="margin-bottom: 10px;"></div>
                    </section>
                    <div class="pull-left">
                        <span id="sidetomove"></span>&nbsp;<span id="BoardStatus"></span>
                    </div>
                    <div class="pull-right">
                        <div id="gameControls">
                            <button type="button" id="startBtn" class="btn btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="go to start of game">
                                <i class='fa fa-fast-backward'></i>
                            </button>
                            <button type="button" id="backBtn" class="btn btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="go to previous move">
                                <i class='fa fa-arrow-left'></i>
                            </button>
                            <button type="button" id="fwdBtn" class="btn btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="go to next move">
                                <i class='fa fa-arrow-right'></i>
                            </button>
                            <button type="button" id="endBtn" class="btn btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="go to end of game">
                                <i class='fa fa-fast-forward'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading hidden-xs">
                    <h3 class="panel-title">DGT Clock</h3>
                </div>
                <div class="panel-body" style="min-height: 10vh;">
                    <div class="pull-left">
                        <h4 id="DGTClockText"></h4>
                    </div>
                    <div class="pull-right">
                        <h4 id="DGTClockStatus"></h4>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading hidden-xs">
                    <h3 class="panel-title">Game record</h3>
                </div>

                <div class="panel-body">
                    <div id="pgn" style="max-height:37%; overflow-y:auto; overflow-x:hidden; min-height:40%; position:relative;"></div>
                </div>
            </div>

            <div class="well">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#book" data-toggle="tab">Book</a>
                    </li>
                    <li class="">
                        <a href="#engine" data-toggle="tab">Engine</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="book">
                        <table id="BookTable" class="table table-bordered table-hover" style="font-size: 1vw; text-align: center; width: 100%;">
                            <thead>
                            <tr>
                                <th></th>
                                <th data-priority="1">Move</th>
                                <th data-priority="2">Games</th>
                                <th data-priority="3">Winning</th>
                                <th>Wins</th>
                                <th>Draws</th>
                                <th>Losses</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="engine">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="btn-group pull-left">
                                    <button id="analyzePlus" class="btn btn-raised btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="increase analyze engines">
                                        <span id="analyzePlusText"><i class='fa fa-plus'></i></span>
                                    </button>
                                    <button id="analyzeMinus" class="btn btn-raised btn-default btn-xs" data-placement="auto" data-toggle="tooltip" title="decrease anlyze engines">
                                        <span id="analyzeMinusText"><i class='fa fa-minus'></i></span>
                                    </button>
                                </div>
                            </div>

                            <div class="col-xs-4"><span id="engineMultiPVStatus" class="btn-group"></span></div>

                            <div class="col-xs-4">
                                <div class="btn-group pull-right">
                                    <button id="analyzeBtn" class="btn btn-raised btn-success btn-xs" data-placement="auto" data-toggle="tooltip" title="start/stop analyze">
                                        <i class='fa fa-cog'></i>
                                        <span id="AnalyzeText">Analyze</span>
                                    </button>
                                </div>
                            </div>

                            <div id="listener">
                                <embed name="nacl_module" id='stockfish_module' width="0" height="0" src='/static/stockfish/stockfish.nmf' type='application/x-pnacl' />
                            </div>
                            <div id="engineStatus"></div>
                        </div>
                        <div class="row">
                            <div id="pv_output" class="gameMoves list-group">
                                <div id="pv_1" style="margin-bottom: 3vh;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="Console" class="col-xs-12" style="display: none;">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="getFenToConsoleBtn" class="btn btn-raised btn-info btn-xs" type="button">
                                    <i class='fa fa-eye'></i><span class="hidden-xs"> Get Fen</span>
                                </button>
                            </span>
                            <input id="inputConsole" type="text" class="form-control input-sm" style="font-size: 2.0vh;" placeholder="Enter command...">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div style="overflow-y: auto; height: 10vh; width: 100%; border: 1px solid black;">
                            <ul id="consoleLogArea" style="list-style-type: none; padding-left: 1vw;"></ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    This console mode is mainly for development. Better activate picochess together with a DGT-Board ;-) Following commands are available: fen:{fen} and uci-move like 'e2e4'
                </div>
            </div>
        </div>

        <div id="Database" class="col-xs-12">
            <div class="well">
                <table id="GameTable" class="table table-bordered table-hover" style="font-size: 1vw; text-align: center; width: 100%;">
                    <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th data-priority="1">White</th>
                        <th data-priority="5">White Elo</th>
                        <th data-priority="1">Black</th>
                        <th data-priority="5">Black Elo</th>
                        <th data-priority="2">Result</th>
                        <th data-priority="3">Date</th>
                        <th data-priority="4">Event</th>
                        <th data-priority="4">Site</th>
                        <th data-priority="3">ECO</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/app.js"></script>
</body>
</html>
