# use with sudo systemctl isolate dgtpistandby.target

[Unit]
Description=Standby mode for DGT Pi
Requires=dgtpistandby.service
After=dgtpistandby.service
AllowIsolate=yes
