/* Unrelated to chessground; only for the examples page */
body {
  background: #202020;
  color: #b0b0b0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
}
#chessground-examples {
  margin: 30px 0 0 0;
  display: flex;
  flex-flow: row;
}
#chessground-examples menu {
  flex: 0 0 300px;
  margin: 0 15px 0 0;
}
#chessground-examples menu a {
  display: block;
  cursor: pointer;
  padding: 5px 15px;
}
#chessground-examples menu a:hover {
  background: #333;
}
#chessground-examples menu a.active {
  border-left: 5px solid #b0b0b0;
}
#chessground-examples section {
  display: inline-block;
  background: #404040;
  padding: 10px 12px 10px 12px;
  border-radius: 2px;
}
#chessground-examples section p {
  text-align: center;
  margin: 20px 0 0 0;
}
#chessground-examples control {
  margin-left: 20px;
}
